

.servicios{
    padding: 1rem 6rem 6rem 6rem;
    margin: 0;
}

.serv-txt h2{
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    line-height: 38px;
    font-size: 32px;
    text-align: center;
    margin-bottom: 3rem;
}

/********** Grid **********/

.serv-grid{
    display: grid;
    grid-template-columns:repeat(4,minmax(0,1fr));
    gap: 2rem;
}

.serv-grid p{
    line-height: 24px;
}

/********** Grids **********/

.sgrid-1{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.112);
    padding: 3rem;
    background-color:#a67c52;
    border-radius: 12px;
    height: 270px;
}

.sgrid-1:hover{
    background-color: white;
    transition: .3s ease-in-out;
}

.sgrid-1 h3{
    text-align: center;
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    color:white;
}


.sgrid-1:hover h3{
  color: #a67c52;
}


.sgrid-1 p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 16px;
    
}

.sgrid-1:hover p{
    color: rgba(0, 0, 0, 0.528);
  }

.citas-1{
     font-size: 16px;
        background-color: white;
        padding: 12px 22px 12px 22px;
        text-align: center;
        display: inline-block;
        justify-content: center;
        color: #a67c52;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        border-radius: 8px;
        margin-top: 1.5rem;
        border: none;
}

.btns1{
    display: flex;
    justify-content: center;
}

.sgrid-1:hover .citas-1{
    background-color: #a67c52;
    color:white;
  }

.sgrid-2{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.112);
    padding: 3rem;
    background-color: white;
    border-radius: 12px;
    height: 270px;
}

.sgrid-2:hover{
    background-color: #a67c52;
    transition: .3s ease-in-out;
}

.sgrid-2 h3{
    text-align: center;
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    color: #a67c52;
}

.sgrid-2:hover h3{
    color: white;
  }

  .sgrid-2:hover p{
    color: white;
  }

  .sgrid-2:hover .citas-2{
    background-color: white;
    color:#a67c52;
  }
  

.sgrid-2 p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.528);
    font-size: 16px;
}

.citas-2{
    font-size: 16px;
    background-color: #a67c52;
    padding: 12px 22px 12px 22px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 1.5rem;
    border:none;
}




.sgrid-3{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.112);
    padding: 3rem;
    background-color: white;
    border-radius: 12px;
    height: 270px;
}

.sgrid-3 h3{
    text-align: center;
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    color: #a67c52;
}

.sgrid-3 p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.528);
    font-size: 16px;
}

.citas-3{
    font-size: 16px;
    background-color: #a67c52;
    padding: 12px 22px 12px 22px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 1.5rem;
    border: none;
}

.sgrid-3:hover{
    background-color: #a67c52;
    transition: .3s ease-in-out;
}

.sgrid-3:hover h3{
    color: white;
  }

  .sgrid-3:hover p{
    color: white;
  }

  .sgrid-3:hover .citas-3{
    background-color: white;
    color:#a67c52;
  }

.sgrid-4{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.112);
    padding: 3rem;
    background-color: white;
    border-radius: 12px;
    height: 270px;
}

.sgrid-4 h3{
    text-align: center;
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    color: #a67c52;
}

.sgrid-4 p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.528);
    font-size: 16px;
}

.citas-4{
    font-size: 16px;
    background-color: #a67c52;
    padding: 12px 22px 12px 22px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 1.5rem;
    border: none;
}


.sgrid-4:hover{
    background-color: #a67c52;
    transition: .3s ease-in-out;
}

.sgrid-4:hover h3{
    color: white;
  }

  .sgrid-4:hover p{
    color: white;
  }

  .sgrid-4:hover .citas-4{
    background-color: white;
    color:#a67c52;
  }

  @media screen and (max-width:800px){

    .servicios{
        padding: 2rem;
    }
    .serv-grid{
        display: grid;
        grid-template-columns:repeat(1,minmax(0,1fr));
        gap: 1rem;
    }
    .modal-content-esp-1 {
      max-width: 350px!important;
      height: 250px;
    }

    .modal-content-esp-2 {
      max-width: 350px!important;
      height: 250px;
    }

    .modal-content-esp-3 {
      max-width: 350px!important;
      height: 250px;
    }

    .modal-content-esp-4 {
      max-width: 350px!important;
      height: 250px;
    }

  }

  /********** Modal Servicios **********/

  .servicios span{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 17px;
  }

  .spantxt{
    display: flex;
    justify-content: center;
  }

  /* Modal 1 */
  .modal-esp-1 {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 80px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content-esp-1 {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    height: 250px;
  }
  .cerrar-esp-1 {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-esp-1 h2, p{
      text-align: center;
      font-family: "Roboto", sans-serif;
  }

  /* Modal 2 */
  .modal-esp-2 {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 80px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content-esp-2 {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    height: 250px;
  }
  .cerrar-esp-2 {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-esp-2 h2, p{
      text-align: center;
      font-family: "Roboto", sans-serif;
  }

   /* Modal 3 */
   .modal-esp-3 {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 80px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content-esp-3 {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    height: 250px;
  }
  .cerrar-esp-3 {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-esp-3 h2, p{
      text-align: center;
      font-family: "Roboto", sans-serif;
  }
  
     /* Modal 4 */
     .modal-esp-4 {
        display: none;
        position: fixed;
        z-index: 10;
        padding-top: 80px;
        left: 0; top: 0;
        width: 100%; height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
      }
      .modal-content-esp-4 {
        background-color: white;
        margin: auto;
        padding: 20px;
        border-radius: 12px;
        width: 100%;
        max-width: 500px;
        height: 250px;
      }
      .cerrar-esp-4 {
        float: right;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
      }
      
      .modal-esp-4 h2, p{
          text-align: center;
          font-family: "Roboto", sans-serif;
      }
      
    
