.testimonios{
    margin: auto 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.testimonios h2 {
    text-align: center;
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    line-height: 38px;
    font-size: 32px;
  }

  .slider-container {
    overflow: hidden;
    position: relative;
    max-width: 1000px;
    margin: auto;
     touch-action: pan-y; /* Evita conflictos de scroll vertical en mobile */
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
      will-change: transform;
  cursor: grab;
  }

  .slider.dragging {
  cursor: grabbing;
  transition: none; /* Para arrastrar en tiempo real */
}

  .testimonial {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    width: 30%;
    flex-shrink: 0;
  }

  .quote {
    font-size: 2rem;
    color: #d0a97a;
    margin-bottom: 10px;
  }

  .text {
       font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.528);
    font-size: 17px;
    line-height: 26px;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .profile-info {
    line-height: 1.2;
  }

  .profile-info .name {
    font-weight: bold;
    color: #333;
       font-family: "Syne", sans-serif;
       margin-top: 1rem;
  }

  .profile-info .title {
    font-size: 0.8rem;
    color: #d0a97a;
  }

  .controls {
    text-align: center;
    margin-top: 20px;
  }

  .controls button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #a67c52;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size:17px;
    font-family: "Roboto", sans-serif;
  }

  .text{
    font-family: "Roboto", sans-serif;
  }

  .title{
    font-family: "Roboto", sans-serif;
  }

  .name{
    font-family: "Syne", sans-serif;
  }

  @media (max-width: 768px) {
    .testimonial {
    flex: 0 0 50%;
  }
    .slider {
      flex-wrap: nowrap;
    }
  }