---

import Navbar from '../components/Navbar.astro';
import Head from '../components/Head.astro';
import Nosotros from '../components/Nosotros.astro';
import Servicios from '../components/Servicios.astro';
import Galeria from '../components/Galeria.astro';
import Especiales from '../components/Especiales.astro';
import Testimonios from '../components/Testimonios.astro';
import Agenda from '../components/Agenda.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import PopUp from '../components/PopUp';
import ImagePOp from '../assets/popup2.webp'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	   <PopUp client:load>
      <a href="https://calendly.com/contacto-favlash/citas" target="_blank"> <img 
            src={ImagePOp.src}
            width="100%"
            height="100%"
            alt="imagen nosotras"
			style="margin-bottom: 20px;"
            /></a>
			
    </PopUp>
	<Navbar />
	<Head />
	<Nosotros />
	<Servicios />
	<Galeria />
	<Especiales />
	<Testimonios />
	<Agenda />
	<Footer />
</Layout>
