---
import '../styles/especiales.css'

---

<section class="especiales" id="promociones-de-temporada">

    <div class="grid-es">
        <div class="esgrid-1">
           <div class="es-txt">
            <h2>Servicio de <br>temporada</h2>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
           <!--  <a class="btn-esp" href="#">Ver los servicios</a>-->
           </div>
        </div>
        <div class="esgrid-2">
            <div class="es-txt2">
                <h2>Servicio de <br>temporada</h2>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                  <!-- <a class="btn-esp2" href="#">Ver los servicios</a>-->
               </div>
        </div>
    </div>
</section>