---
import '../styles/head.css'
import ImageHead from '../assets/favlash-head.png';
---

<section class="head">
    <div class="head-content">

        <div class="head-grid">
            <div></div>
            <div >
                <h1>Vive la experiencia de un servicio de calidad en Tijuana </h1>
                <p> Donde cada detalle de tus extensiones de pestañas y cejas es personalizado para cada tipo de clienta.</p>
                <a class="btn-serv" href="#servicios">Ver los servicios</a>
            </div>
        </div>
    </div>
   
</section>