---
import '../styles/head.css'
import ImageHead from '../assets/favlash-head.png';
---

<section class="head">
    <div class="head-content">

        <div class="head-grid">
            <div></div>
            <div>
                <h1>M치s que un sal칩n, un santuario de belleza</h1>
                <p> Donde cada detalle de tus u침as, pesta침as y cabello se convierte en arte. Profesionalismo en cada trabajo que realizamos.</p>
                <a class="btn-serv" href="#servicios">Ver los servicios</a>
            </div>
        </div>
    </div>
   
</section>