---
import '../styles/navbar.css'
import ImageLogo from '../assets/favlash-horizonta-2.jpg';
---

<section class="navbar-f">
<section class="subhead">
<div class="subhead-grid">

    <div class="sg-1">
        <div><i class="bi bi-envelope-paper-heart-fill"></i> <a href="tel:+526646651927" style="text-decoration: none; color: #c7b096;">sundae.hq@gmail.com</a></div>
        <div style="margin-left: -8rem;"><i class="bi bi-telephone-inbound-fill"></i><a href="tel:+526631208318" style="text-decoration: none; color: #c7b096;">(663) 120-8318</a></div>
        
    </div>

    <div class="sg-2">
    <p>Síguenos:</p>
       <ul class="lista-hor">
        <li><a href="https://www.facebook.com/favlash.sandyh" target="_blank"><i class="bi bi-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/favlash.sandyh/" target="_blank"> <i class="bi bi-instagram"></i></a></li>
        <li><a href="https://www.tiktok.com/@favlash" target="_blank"><i class="bi bi-tiktok"></i></a></li>
        <li><a href="https://wa.link/n1xc24" target="_blank"><i class="bi bi-whatsapp"></i></a></li>


       </ul>
    </div>
</div>
</section>

<nav>

  <div class="logo">
    <img 
    src={ImageLogo.src}
    width="12%"
    height="50%"
    alt="favlash-logo"/>
  </div>

  <div class="nav-links">
    <a href="#nosotras">Nosotras</a>
    <a href="#servicios">Servicios</a>
    <a href="#testimonios">Testimonios</a>
  
  </div>

<!-- From Uiverse.io by alexroumi --> 
<a href="#agenda-tu-cita"><button class="btn-escritorio"> Agenda Tu Cita</button>
</a>

  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>

<div class="mobile-menu" id="mobileMenu">
  <a href="#nosotras">Nosotras</a>
  <a href="#servicios">Servicios</a>
  <a href="#testimonios">Testimonios</a>
  <a href="#agenda-tu-cita">Agenda Tu Cita</a>

  <button class="nav-button">Agenda Tu Cita</button>
</div>
</section>
<script>
    import "../scripts/menu.js"
</script>