---
import '../styles/navbar.css'
import ImageLogo from '../assets/favlash-logo-hotizontal.png';
---

<section class="navbar-f">
<section class="subhead">
<div class="subhead-grid">

    <div class="sg-1">
        <div>contato@buenobeauty.com.br</div>
        <div>(00) 00000-0000</div>
        <div>(00) 00000-0000</div>
    </div>

    <div class="sg-2">
        <div>siguenos:</div>
       <ul class="lista-hor">
        <li>facebook</li>
        <li>Instagram</li>
        <li>TikTok</li>
       </ul>
    </div>
</div>
</section>

<nav>

  <div class="logo">
    <img 
    src={ImageLogo.src}
    width="14%"
    height="50%"
    alt="favlash-logo"/>
  </div>

  <div class="nav-links">
    <a href="#">Inicio</a>
    <a href="#">Servicios</a>
    <a href="#">Proyectos</a>
    <a href="#">Contacto</a>
  </div>

  <button class="nav-button">Acción</button>

  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>

<div class="mobile-menu" id="mobileMenu">
  <a href="#">Inicio</a>
  <a href="#">Servicios</a>
  <a href="#">Proyectos</a>
  <a href="#">Contacto</a>
  <button class="nav-button">Acción</button>
</div>
</section>
<script>
    import "../scripts/menu.js"
</script>