---
import '../styles/nosotros.css'
import ImageNos from '../assets/cabello-f.png'
---

<section class="nosotros">
    <div class="nos-grid">

        <div class="grid-1">
            <h2>Nosotras</h2>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                Velit officia consequat duis enim velit mollit.
                 Exercitation veniam consequat sunt nostrud amet. 
                 Velit officia consequat duis enim velit mollit</p>

                 <div class="sub-grid-1">
                    <div>
                        <h3>Amet minim mollit</h3>
                        <p>Amet minim mollit non deserunt ullam co est sit.</p>
                    </div>

                    <div>
                        <h3>Amet minim mollit</h3>
                        <p>Amet minim mollit non deserunt ullam co est sit.</p>
                    </div>
                 </div>

                 <div class="sub-grid-2">
                    <div>
                        <h3>Amet minim mollit</h3>
                        <p>Amet minim mollit non deserunt ullam co est sit.</p>
                    </div>

                    <div>
                        <h3>Amet minim mollit</h3>
                        <p>Amet minim mollit non deserunt ullam co est sit.</p>
                    </div>

                 </div>
        </div>


        <div class="grid-2">
        <img 
        src={ImageNos.src}
        width="100%"
        height="100%"
        alt="imagen nosotras"
        />
        </div>
    </div>
</section>