---
import '../styles/servicios.css'
import Serv1 from '../assets/precio-pestanas.jpeg'
import Serv2 from '../assets/precio-cejas.jpeg'
---

<section class="servicios">
    <div class="serv-txt">
        <h2>Los Servicios <br> que ofrece <span style="color:#a67c52;font-size:32px;">favlash</span></h2>
    </div>
    
    <div class="serv-grid">
        <div class="sgrid-1">
            <h3>Maquillaje Profesional</h3>
            <p>Realza tu belleza con un look personalizado, desde natural a glamuroso, para cada ocasión especial.</p>
           <!--  <div class="btns1">
                <button onclick="abrirModal1('Maquillaje Profesional')" class="citas-1">Ver servicio</button>
            </div>-->
           

            <!-- Modal -->
            <div id="modal-esp-1" class="modal-esp-1">
                <div class="modal-content-esp-1">
                  <span class="cerrar-esp-1" onclick="cerrarModal1()">&times;</span>
                  <h2 id="titulo-modal-esp-1"></h2>
                  <div class="spantxt">
                    <span>desde:ooo</span>
                  </div>
                 
                </div>
              </div>
                 <!-- Modal -->
        </div>
        <div class="sgrid-2">
            <h3>Estilismo De Cejas</h3>
            <p>Consigue el estilo perfecto. Peinados que destacan tu esencia, desde lo clásico hasta lo más moderno.</p>
            <div class="btns1">
                <button onclick="abrirModal2('Estilismo De Cejas')" class="citas-2">Ver servicio</button>
            </div>
            

            <!-- Modal -->
            <div id="modal-esp-2" class="modal-esp-2">
                <div class="modal-content-esp-2">
                  <span class="cerrar-esp-2" onclick="cerrarModal2()">&times;</span>
                  <h2 id="titulo-modal-esp-2"></h2>
                  <div class="spantxt">
                    <img 
                    src={Serv1.src}
                    width="100%",
                    height="100%",
                    alt="precios-cejas"
                    />
                  </div>
                </div>
              </div>
                 <!-- Modal -->
        </div>
        <div class="sgrid-3">
            <h3>Extensiones de pestañas </h3>
            <p>Amplifica tu mirada con extensiones de pestañas de alta calidad para un volumen y longitud impactantes.</p>
            <div class="btns1">
                <button onclick="abrirModal3('Extensiones de pestañas')" class="citas-3">Ver servicio</button>
            </div>
            

            <!-- Modal -->
            <div id="modal-esp-3" class="modal-esp-3">
                <div class="modal-content-esp-3">
                  <span class="cerrar-esp-3" onclick="cerrarModal3()">&times;</span>
                  <h2 id="titulo-modal-esp-3"></h2>
                  <div class="spantxt">
                   <img 
                   src={Serv1.src}
                   width="100%",
                   height="100%",
                   alt="precios-pestañas"
                   />
                  </div>
                </div>
              </div>
                 <!-- Modal -->
        </div>
        <div class="sgrid-4">
            <h3>servicio de manicura</h3>
            <p>Consentimos tus manos con manicuras impecables y diseños creativos para unas uñas siempre perfectas.</p>
            <!-- <div class="btns1">
                <button onclick="abrirModal4('servicio de manicura')" class="citas-4">Ver servicio</button>
            </div>-->
            

            <!-- Modal -->
            <div id="modal-esp-4" class="modal-esp-4">
                <div class="modal-content-esp-4">
                  <span class="cerrar-esp-4" onclick="cerrarModal4()">&times;</span>
                  <h2 id="titulo-modal-esp-4"></h2>
                  <div class="spantxt">
                    <span>desde:ooo</span>
                  </div>
                </div>
              </div>
                 <!-- Modal -->
        </div>
    </div>
</section>

<script is:global>
    function abrirModal1(titulo) {
  document.getElementById("titulo-modal-esp-1").innerText = titulo;
  document.getElementById("modal-esp-1").style.display = "block";
}
function cerrarModal1() {
  document.getElementById("modal-esp-1").style.display = "none";
}

function abrirModal2(titulo) {
  document.getElementById("titulo-modal-esp-2").innerText = titulo;
  document.getElementById("modal-esp-2").style.display = "block";
}
function cerrarModal2() {
  document.getElementById("modal-esp-2").style.display = "none";
}

function abrirModal3(titulo) {
  document.getElementById("titulo-modal-esp-3").innerText = titulo;
  document.getElementById("modal-esp-3").style.display = "block";
}
function cerrarModal3() {
  document.getElementById("modal-esp-3").style.display = "none";
}

function abrirModal4(titulo) {
  document.getElementById("titulo-modal-esp-4").innerText = titulo;
  document.getElementById("modal-esp-4").style.display = "block";
}
function cerrarModal4() {
  document.getElementById("modal-esp-4").style.display = "none";
}
</script>