---
import '../styles/servicios.css'
---

<section class="servicios">
    <div class="serv-txt">
        <h2>Los Servicios <br> que ofrece <span style="color:#a67c52">favlash</span></h2>
    </div>
    
    <div class="serv-grid">
        <div class="sgrid-1">
            <h3>Maquillaje Profesional</h3>
            <p>Amet minim mollit non deserunt ullam coet minim mollit.</p>
            <p>Desde: 00000</p>
            <p><a href="#" class="citas-1">Ver Servicio</a></p>
        </div>
        <div class="sgrid-2">
            <h3>Peinado Profesional</h3>
            <p>Amet minim mollit non deserunt ullam coet minim mollit.</p>
            <p>Desde: 00000</p>
            <p><a href="#" class="citas-2">Ver Servicio</a></p>
        </div>
        <div class="sgrid-3">
            <h3>Técnica de pestañas </h3>
            <p>Amet minim mollit non deserunt ullam coet minim mollit.</p>
            <p>Desde: 00000</p>
            <p><a href="#" class="citas-3">Ver Servicio</a></p>
        </div>
        <div class="sgrid-4">
            <h3>servicio de manicura</h3>
            <p>Amet minim mollit non deserunt ullam coet minim mollit.</p>
            <p>Desde: 00000</p>
            <p><a href="#" class="citas-4">Ver Servicio</a></p>
        </div>
    </div>
</section>