<!doctype html>
<html lang="es">
	<head>
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRV4RC9SNF"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TRV4RC9SNF');
</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

		<meta name="description" content="Vive la experiencia de un servicio de calidad en Tijuana.">

		    <meta property="og:image" content="https://github.com/AntonioHerrera1994/favlash-page/blob/main/src/assets/favlash-horizonta-2.jpg?raw=true">
    <meta property="og:image:width" content="1200"> <meta property="og:image:height" content="630"> <meta property="og:image:alt" content="Descripción de tu imagen para accesibilidad">
    <meta property="og:title" content="FavLash: By Sandy Herrera">
    <meta property="og:description" content="Vive la experiencia de un servicio de calidad en Tijuana.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://favlash.com/">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap" rel="stylesheet">
		<title>Favlash: By Sandy Herrera</title>
			<link rel="icon" type="image/svg+xml" href="/favicon2.svg" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		scroll-behavior: smooth;
	}

	
</style>

<script is.global>
	function scrollToSection(sectionId) {
  const section = document.getElementById(sectionId);
  if (section) {
    section.scrollIntoView({ behavior: 'smooth' });
  }
}
</script>
